* {
  box-sizing: border-box;
}

html, body {
  font-family: Arial, serif;
  margin: 0;
  padding: 0;
}



#app {
  padding-top: 30px;
}

button {
  padding: 7px 25px;
  border-radius: 5px;
  background-color: #451670;
  color: white;
  font-size: 16px;
}

button:hover {
  cursor: pointer;
}

.cart {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 0 auto;
  border: 2px solid #591d91;
  border-radius: 15px;
  padding: 15px 30px;
}

.cart h2 {
  color: #4f1c7e;
}

.product-list {
  list-style: none;
  margin: 0 2rem;
  padding: 0;
}

.product-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2rem auto;
  box-shadow: 0 2px 8px rgba(0,0,0,0.26);
  width: 50rem;
  max-width: 90%;
}

.product-item img {
  max-width: 100%;
  max-height: 300px;
  width: 50rem;
  height: auto;
  object-fit: cover;
}

.product-item__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding-bottom: 20px;
}
